@charset "UTF-8"
/* CSS dDocument*/
*{
padding: 0;
margin: 0;

}
.boxing h2{
    color: #a3a7a3;
    font-size: 14px;
    }

.boxing p{
    font-size: 14px;
    }

.red_color h2{
    color: red;
}

.green_color p{
    font-size: 16px;
    color: #3ae751;
    }
