@charset "UTF-8"
/* CSS dDocument*/
*{
    padding: 0;
    margin: 0;
}
.wrapper-modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.6);
}
.modal{
    z-index: 9999;
    background: #dcdcdc;
    position: absolute;
    left: 50%;
    margin-left: -131px;
    top: 50%;
    margin-top: -164px;
    width: 262px;
    height: 328px;
}
.closed{
    z-index: 999999;
    position:absolute;
    right: 9px;
    top: 5px;
    cursor: pointer;
    color: #e81115;
    font-weight: bold;
}
.closed:hover{
    color: #000;
}

.input{
    font-style: 15px;
    color: #808080;
    border: none;
    width: 100%;
    padding: 8px 0px 8px 15px;
    outline: none;
    margin-bottom: 15px;
}
#form1{
    width: 200px;
    padding: 25px;
}
#button{
    font-style: 15px;
    color: #fff;
    outline: none;
    border: none;
    width: 214px;
    background:#ca574d;
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 9px;
    padding-bottom: 10px;
    cursor: pointer;
}
.modal h2{
    font-style: 20px;
    color: #ca574d;
    text-align: center;
    margin-top: 26px;
    margin-bottom: 16px;
    text-transform: uppercase;
}
.form1 input{
    display: block;
    width: 100%;
}