@charset "UTF-8"
/* CSS dDocument*/
    *{
    padding: 0;
    margin: 0;
}
.blok1{
    width: 223px;
    height: 119px;
    background: rgb(213, 213, 213);
    border: black solid 1px;
    margin: 15px 10px;
    position: static;
    }
    .text1_blok1{
    position: static;
    margin: 10px 10px;
    }
    
    .blok2{
    width: 420px;
    height: 118px;
    background: rgb(213, 213, 213);
    border: black solid 1px;
    position: relative;
    left: 33px;
    top: 11px;
    }
    .text2_blok2{
    position: relative;
    margin: 10px 10px;
    text-align: left;
        }

    .blok3{
    width: 224px;
    height: 125px;
    background: rgb(213, 213, 213);
    border: black solid 1px;
    position: relative;
    top: -2px;
    left: 10px;
    }
    .text3_blok3{
    position: relative;
    width: 100px;
    height: 50px;
    background: rgb(154, 154, 154);
    margin: 10px;
    border: none;
    }

    .blok4{
    width: 282px;
    height: 206px;
    background: rgb(213, 213, 213);
    border: black solid 1px;
    position: absolute;
    left: 172px;
    top: 278px;
    }
    .text4_blok4{
    position: absolute;
    left: 60px;
    font-size: 17px;
    }
    
    .blok5{
    width: 223px;
    height: 122px;
    background:rgb(38, 38, 38);
    position: fixed;
    left: 510px;
    top: 188px;
    }
    .text5_blok5{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    font-size: 17px;  
    }

    .blok6{
    width: 220px;
    height: 120px;
    background: rgb(213, 213, 213);
    border: black solid 1px;
    top: 11px;
    left: 10px;
    position: relative;
    z-index: 1;
    }
    .text6_blok6{
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 16px;
    }

    .blok7{
    width: 220px;
    height: 120px;
    background: rgb(213, 213, 213);
    border: black solid 1px;
    top: -54px;
    left: 36px;
    position: relative;
    z-index: 2;
    }
    .text7_blok7{
    position: relative;
    top: 10px;
    left: 12px;
    font-size: 17px;
    }