@charset "UTF-8"
/* CSS Document*/
*{
    padding: 0;
    margin: 0;
}
html,
body{
    height: 100%;
}
body{
    font-size: 14px;
    color: #000;
    font-family: 'vidaloka_regular';
}
/*header*/
.header{
    z-index: 2;
    position: relative;
    padding-top: 60px;
}
.nav-menu ul li a{
    transition: 0.3s;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
}
.nav-menu ul li.active a,
.nav-menu ul li a:hover{
    text-decoration: none;
    padding-bottom: 35px;
    color: #ffeb3b;
    border-bottom: 2px solid #ffeb3b;
}
.nav-menu ul li{
    margin-right: 44px;
}
.nav-menu ul li:last-child{
    margin-right: 0;
}
.border-header{
    border-bottom: 1px solid #a29a98;
    
}
/*header*/
.nav-menu .navbar-toggle,
.nav-menu .navbar-brand{
display: none;
}
/* baner home*/
.banner-home{
    position: relative;
    left: 0;
    top: -127px;
    z-index: 1;
    background:url(..//img/baner-home.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}
#slider-baner{
    padding-top: 300px;
}
.btn-search{
    font-size: 0;
    background: url(..//img/search.png) no-repeat;
    width: 43px;
    height: 37px;
    border: inherit;

    outline: none;

}
.pole-search{
    display: none;
    outline: none;
}
.form-search{
    position: relative;
    padding-left: 15px;
    padding-top: 4px;

}
.form-search:before{
    content: '';
    position: absolute;
    height: 30px;
    background:#a29a98;
    width: 1px;
    left: 0;
    top: 0;
}
.banner-home .owl-carousel .item h2{
    text-align: center;
    color: #fff;
    font-size: 110px;
    font-family: 'back_to_black_demoregular';
}
.banner-home .owl-carousel .item .text-slider{
    font-size: 280px;
    color:#fff;
    font-family: 'back_to_black_demoregular';
    text-align: center;
}
#slider-baner .owl-nav .owl-prev{
    background: url(../img/arrow_prev.png) no-repeat;
    width: 8px;
    height: 340px;
    outline: none;
    position: absolute;
    bottom: 300px;
    left: -160px;
    z-index: 1;
}
#slider-baner .owl-nav .owl-next{
    background: url(../img/arrow_next.png) no-repeat;
    width: 8px;
    height: 340px;
    outline: none;
    position: absolute;
    bottom: 300px;
    right:-160px;
    z-index: 1;
}
/* baner home*/
/* <!--font-family: 'back_to_black_demoregular';-->
<!--font-family: 'vidaloka_regular';--> */