@charset "UTF-8"
/* CSS dDocument*/
*{
    padding: 0;
    margin: 0;
}
.image{
    background-image: url(../img/masha_and_the_bear.jpg);
    background-repeat:no-repeat;
    background-position: center top;
    
}
.box{
    width: 100%;
    height: 1920px;
    background-size: cover;
}
.text{
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: chartreuse;
}
.lorem{
    text-transform: lowercase;
    text-indent: 20px;

}
.form{
    width: 50%;
}
.input{
    display: block;
    width: 100%;
}
  .hover:hover{
        background: #a38185;
        background-color: chartreuse;
    }
    
.hover:focus{
        border: solid;
        color: orange;}